@charset "UTF-8";

/* Table of Contents
 ==================================================
 # Imports
 # Fonts
 # All
 # HTML
 # Body
 # Grid
 # Header
 # Nav
 # Main
 # Aside
 # Footer
 # Typography
 # Elements
 # Components
 # Form
 # Helpers
 # Apps
 # Animations
 # Responsive
 # Print
 ==================================================
 */

/************************* IMPORT *************************/

@import url();

@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
@import url(jquery-ui-1.10.4.custom.min.css);

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');

/************************* FONT *************************/

@font-face {  }

/************************* ALL *************************/

* {  }

/************************* HTML *************************/

html {
	
}

/* selection */

::selection {  }
::-moz-selection {  }

/************************* BODY *************************/

body {
    font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

/************************* GRID *************************/

.container-fluid {
	
}

.container {
	
}

/************************* HEADER *************************/

/************************* NAV *************************/

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	border-radius: 0px;
	box-shadow: none;
	padding: 15px 0px;
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/*#nav.affix-top {
 position: absolute;
 top: 0;
 left: 0;
 z-index: 10;
 height: 54px;
 background-color: transparent;
 border: 0;
 }*/

#nav.affix {
	width: 100%;
	position: fixed;
	top: 0;
	padding: 0px;
	z-index: 10;
	-webkit-transition: all .6s ease-in-out;
}

.navbar-toggle {
	border: none;
	background: transparent !important;
}

.navbar-toggle:hover {
	background: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar {
	
}

.navbar-toggle .icon-bar {
	width: 22px;
	transition: all 0.2s;
}

.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
	opacity: 0;
}

.navbar-toggle .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
	transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
	transform: rotate(0);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
	/*font-family: 'Lobster', cursive;*/
	font-size: 24px;
	letter-spacing: 2px;
	text-transform: capitalize;
}

.navbar-default .navbar-collapse {
	border-top: none;
	box-shadow: none;
}

.navbar-default .navbar-nav {
	border-bottom: 2px solid transparent;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active > a:hover {
	border-width: 0;
	box-shadow: none;
}

.nav > li > a {
	position: relative;
	display: block;
}

.navbar-default .navbar-nav > li > a {
	/*text-transform: uppercase;*/
	text-shadow: none;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	border: none;
	background-image: none;
	box-shadow: none;
}

.navbar-default .navbar-nav > li > a::after {
	content: "";
	/*background: #eba395;*/
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}

.navbar-default .navbar-nav > li.active > a::after,
.navbar-default .navbar-nav > li:hover > a::after {
	transform: scale(1);
}

.navbar-default .navbar-nav > li > a::after {
	color: #fff;
	background: #757575 none repeat scroll 0% 0%;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
	border-radius: 0px;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
	background-image: none;
}

/************************* MAIN *************************/

/************************* ASIDE *************************/

/************************* FOOTER *************************/

#footer {
    padding: 20px 15px;
    border-top: 1px solid #757575;
}

#footer p {
    margin: 0px;
}


/************************* TYPOGRAPHY *************************/

/************************* ELEMENTS *************************/

/* scroll */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba( 0, 0, 0, 0.3 );
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #999;
}

/************************* COMPONENTS *************************/

/************************* FORM *************************/

/* btn */

.btn {
    border-radius: 0px;
}

/* form-control */

.form-control {
    border-radius: 0px;
}

/* parsley */

.help-block.filled {
    position: relative;
    margin: 0px;
}

.parsley-required {
    position: absolute;
    top: -28px;
    right: 15px;
}

/* placeholders */

::-webkit-input-placeholder {  }
::-moz-placeholder {  }
:-ms-input-placeholder {  }
input:-moz-placeholder {  }

/************************* HELPERS *************************/

/* loader */

.loader {
	background: url(../img/tpl/loader.gif) no-repeat center;
}

/************************* APPS *************************/

/* pace */

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #29d;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}

/************************* ANIMATIONS *************************/

/************************* RESPONSIVE *************************/

/************************* PRINT *************************/